/* CSS Document */

/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

/* Palette-
--light-green: #99f7ab;
--pink-lavender: #d0a5c0;
--crimson: #d62839;
--lapis-lazuli: #175676;
--purple: #7e007b;
*/

/* Reset */
* {
	border: 0;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Tilt Neon', sans-serif;
	background-color: #175676;
	color: #99f7ab;
}

header {
	background-color: #7e007b;
	border-bottom: solid 10px #99f7ab;
	color: #d62839
}

#hero {
	display: block;
	width: 100%;
	margin: 0 auto;
	max-height: 450px;
	background-size: cover;
}

.face {
	display: block;
	width: 20%;
	margin: 0 auto;
}

h3 {
	padding-left: 1%;
	font-family: acme, sans-serif;
	clear: both;
}

.ref {
	padding-left: 2%;
}

.exp {
	padding-left: 3%;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
	font-family: acme, sans-serif;
}

section {
	display: block;
	width: 90%;
	background-color: #458cd2;
	margin: 0 auto;
	border: 5px #7e007b solid;
}

section .proj {
	border: none;
}

.prog {
	width: 40%;
	padding-left: 2%;
	max-height: 300px
}

.am {
	padding-left: 2%;
}

a {
	text-decoration: none;
	color: #d0a5c0;
	font-family: acme, sans-serif;
}

nav a li {
	display: block;
	margin: 0 auto;
	font-size: 1.5em;
}

footer {
	display: block;
	margin: 0 auto;
	background-color: #272222;
	color: #fff;
	text-align: center;
}

footer a {
	text-decoration: none;
	color: #B00C0C;
}

footer #socials {
	padding: 0 6%;
	text-align: center;
}

footer .logo {
	width: 3%;
}
