/* CSS Document */

/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

/* Palette-
--light-green: #99f7ab;
--pink-lavender: #d0a5c0;
--crimson: #d62839;
--lapis-lazuli: #175676;
--purple: #7e007b;
*/

/* Reset */
* {
	border: 0;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Tilt Neon', sans-serif;
	background-color: #175676;
	color: #000;
}

header {
	background-color: #272222;
	border-bottom: solid 10px #0e1260;
	color: #B00C0C
}

.open {
	text-align: center;
	color: #B00C0C;
	padding-top: .5%;
}

#hero {
	display: block;
	width: 100%;
	margin: 0 auto;
	max-height: 450px;
	background-size: cover;
}

main {
	background-image: url(../images/pretty-forest.jpeg);
	background-position: center;
	background-size: cover;
}

.face {
	display: block;
	width: 20%;
	margin: 0 auto;
}

h3 {
	padding-left: 1%;
	font-family: acme, sans-serif;
	clear: both;
}

.ref {
	padding-left: 2%;
}

.exp {
	padding-left: 3%;
}

h1 {
	text-align: center;
	color: #B00C0C;
	background-color: #fff;
	width: 30%;
	padding: 0%;
	margin: 1% auto;
	border-radius: 15px;
}

.open {
	display: block;
	color: #B00C0C;
	padding-top: .5%;
	background-color: #272222;
	text-align: center;
	margin: 0 auto;
}

h2 {
	text-align: center;
	font-family: acme, sans-serif;
}

section {
	display: block;
	width: 90%;
	background-color: #818181;
	margin: 0 auto;
	padding: 1.2% 0;
	border: 5px #181618 solid;
	border-radius: 15px;
}

.proj {
	display: block;
	width: 40%;
	padding: 2%;
	margin: 2% auto;
	border: 5px #818181 solid;
	background-color: #181618;
	border-radius: 15%;
}

.proj h1 {
	color: #B00C0C;
	font-size: 1.8em;
	padding-bottom: 1%;
}

.proj p {
	color: #fff;
}

.proj img {
	display: block;
	margin: 0 auto;
	width: 80%;
	border-radius: 15%;
}

.proj a {
	display: block;
	width: 10%;
	padding: 0%;
	margin: 0 auto;
	text-align: center;
	background: #fff;
	color: #000000;
	border-radius: 15px;
}

.prog {
	width: 40%;
	padding-left: 2%;
	max-height: 300px;
}

.am {
	padding-left: 2%;
}

a {
	text-decoration: none;
	color: #d0a5c0;
	font-family: acme, sans-serif;
}

nav {
	display: block;
	margin: 0 5%;
	text-align: center;
}

nav ul li {
	display: inline-block;
	margin: 5px 10%;
}

nav a li {
	font-size: 1.5em;
	color: #fff;
	background-color: #7b7b7b;
}

footer {
	display: block;
	margin: 0 auto;
	background-color: #272222;
	color: #fff;
	text-align: center;
	border-top: solid 10px #0e1260;
}

footer a {
	text-decoration: none;
	color: #B00C0C;
}

footer #socials {
	padding: 0 6%;
	text-align: center;
}

footer .logo {
	width: 3%;
}
